<!DOCTYPE html>
<html>
<head>
	<title>Django Example - Too Doo</title>

	<link rel="stylesheet" type="text/css" href="/public/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/public/font-awesome/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="/public/style.css">
</head>
<body>

<div class="col-sm-6 col-sm-offset-3">
	
	<div class="page-header">
	  <h1>Too Doo <small>a django application example</small></h1>
	</div>

	<ul class="list-group">

		{% for task in tasks %}
			<li class="list-group-item task-item">
			  	<div class="col-xs-1">
		  			{% if task.done %}
			  			<span class="fa fa-check-square-o"></span>
					{% else %}
			  			<span class="fa fa-square-o"></span>
					{% endif %}

			  	</div>
				<div class="col-xs-11">{{ task.name }}</div>
			</li>		
		{% endfor %}		
	</ul>

</div>

</body>
</html>