{% extends "base.html" %}

{% block content %}
	<ul class="list-group">

		<li class="list-group-item new-task-item task-item">
		  	<form action="/add" method="post">
		  		{% csrf_token %}
				<div class="col-xs-1 form-group">
				</div>
				<div class="col-xs-10 form-group">
					<input class="form-control" name="name" placeholder="Enter task name...">
				</div>
				<div class="col-xs-1 form-group">
					<button type="submit" class="btn btn-link">
		  				<span class="fa fa-check save-button"></span>						
					</button>					
				</div>
			</form>
		</li>

		{% for task in tasks %}
			<li class="list-group-item task-item">
			  	<div class="col-xs-1">
		  			{% if task.done %}
			  			<span class="fa fa-check-square-o"></span>
					{% else %}
			  			<span class="fa fa-square-o"></span>
					{% endif %}

			  	</div>
				<div class="col-xs-10">{{ task.name }}</div>
			  	<div class="col-xs-1 actions-column">
			  		<a href="/delete/{{task.id}}"><span class="fa fa-times"></span></a>
			  	</div>
			</li>		
		{% endfor %}		
	</ul>
{% endblock %}